<ion-view style="" id="page10" title="Invoices">
    <ion-content class="has-header" padding="true">
        <form style="" class="list">
            <label style="" name="txtSupplierName" class="item item-input">
                <span class="input-label">Supplier Name</span>
                <input placeholder="" type="text">
            </label>
            <label style="" name="txtTaxInvoiceNo" class="item item-input">
                <span class="input-label">Tax Invoice No.</span>
                <input placeholder="" type="text">
            </label>
            <label style="" name="txtInvoiceDate" class="item item-input">
                <span class="input-label">Invoice Date</span>
                <input placeholder="" type="date">
            </label>
        </form>
        <div style="" class="list card">
            <div class="item item-divider">Medicine</div>
            <div class="item item-body">
                <form style="" class="list">
                    <label style="" name="txtMedicineName" class="item item-input">
                        <span class="input-label">Name</span>
                        <input placeholder="" type="text">
                    </label>
                    <label style="" name="txtQuantity" class="item item-input">
                        <span class="input-label">Quantity</span>
                        <input placeholder="" type="number">
                    </label>
                    <label style="" name="txtMfgName" class="item item-input">
                        <span class="input-label">Manfacture's Name</span>
                        <input placeholder="" type="text">
                    </label>
                    <label style="" name="txtBatchNo" class="item item-input">
                        <span class="input-label">Batch No.</span>
                        <input placeholder="" type="text">
                    </label>
                    <label style="" name="txtDiscount" class="item item-input">
                        <span class="input-label">Discount</span>
                        <input placeholder="" type="text">
                    </label>
                    <label style="" name="txtExpiryDate" class="item item-input">
                        <span class="input-label">Expiry Date</span>
                        <input placeholder="" type="date">
                    </label>
                    <label style="" name="txtAmount" class="item item-input">
                        <span class="input-label">Amount</span>
                        <input placeholder="" type="text">
                    </label>
                </form>
                <button class="button button-positive  button-block" id="invoices-button6">Add</button>
            </div>
        </div>
    </ion-content>
</ion-view>