<ion-view style="" id="page5" title="Login">
    <ion-content class="has-header" padding="true">
        <div style="height: 100px;" class="spacer"></div>
        <form style="" class="list">
            <ion-list style="">
                <label style="" class="item item-input">
                    <span class="input-label">Username</span>
                    <input placeholder="" type="text">
                </label>
                <label style="" class="item item-input">
                    <span class="input-label">Password</span>
                    <input placeholder="" type="password">
                </label>
            </ion-list>
            <div style="height: 40px;" class="spacer"></div>
            <a class="button button-stable  button-block" id="login-button1" ui-sref="tabsController.myAccount">Log in</a>
            <a class="button button-positive  button-block button-clear" id="login-button2" onclick="window.open('/signup', '_system', 'location=yes'); return false;" href="#">Or create an account</a>
        </form>
    </ion-content>
</ion-view>