<ion-view style="" id="page2" title="My Account">
    <ion-content class="has-header" padding="true">
        <div style="width: 1004px; height: 36px;" class="spacer"></div>
        <h1 style="color: rgb(0, 0, 0);" id="myAccount-heading2">Welcome John Smith</h1>
        <div style="color: rgb(0, 0, 0);" id="myAccount-markdown3">
            <p>
                <strong>ID</strong>: XXXXXX,
                <strong>Role</strong>: Owner</p>
        </div>
        <div style="color: rgb(0, 0, 0);" id="myAccount-markdown4">
            <p>
                <strong>Last Logged in</strong>: 24th April 2016, 10:45:30 AM</p>
        </div>
        <div style="width: 1004px; height: 26px;" class="spacer"></div>
        <h1 style="color: rgb(0, 0, 0);" id="myAccount-heading1">Balaji Medicals</h1>
        <div style="color: rgb(0, 0, 0);" id="myAccount-markdown1">
            <p>Address Line 1</p>
        </div>
        <div style="color: rgb(0, 0, 0);" id="myAccount-markdown5">
            <p>Address Line 2</p>
        </div>
        <div style="color: rgb(0, 0, 0);" id="myAccount-markdown6">
            <p>City - XXXXXX, State</p>
        </div>
        <div style="width: 1004px; height: 26px;" class="spacer"></div>
        <button class="button button-balanced  button-block" style="font-size:-1px;" id="myAccount-button3">Renew Subscription</button>
        <div style="height: 100px;" class="spacer"></div>
    </ion-content>
</ion-view>