<ion-view style="" id="page1" title="Tabs Controller">
    <ion-tabs style="" class="tabs-stable tabs-icon-top">
        <ion-tab style="" title="My Account" icon="ion-android-person" href="#/page1/pgMyAccount">
            <ion-nav-view name="tab1"></ion-nav-view>
        </ion-tab>
        <ion-tab style="" title="Sales" icon="ion-android-cart" href="#/page1/pgSales">
            <ion-nav-view name="tab4"></ion-nav-view>
        </ion-tab>
        <ion-tab style="" title="Invoices" icon="ion-ios-briefcase-outline" href="#/page1/pgInvoices">
            <ion-nav-view name="tab3"></ion-nav-view>
        </ion-tab>
        <ion-tab style="" title="Drug Dictionary" icon="ion-erlenmeyer-flask" href="#/page1/pgDictionary">
            <ion-nav-view name="tab2"></ion-nav-view>
        </ion-tab>
        <ion-tab style="" title="Reports" icon="ion-ios-paper-outline" href="#/page1/pgReports">
            <ion-nav-view name="tab5"></ion-nav-view>
        </ion-tab>
    </ion-tabs>
</ion-view>